/*CSS for the other stats below the main card. */

#other-stats-div {
    display:flex;
    flex-direction:row;
    margin-bottom:15px;
    justify-content: center;
}

#us-cases {
    color:dodgerblue;
}

#us-deaths {
    color:orangered;
}

#us-recovered {
    color:limegreen;
}

.US-stat {
    font-size:25px;
    margin-left:20px;
    margin-right:20px;
}